.footer{
    background-image: linear-gradient(to left, aquamarine,gray, black);
    height: 25vh;
    clip-path: polygon(0 75%, 100% 0, 100% 100%, 0 100%);
    margin-top: -25vh;
    position: relative;

    &__text{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 65%;
        width: 100%;
        color: white;

        @media only screen and (max-width: 1000px) {
            font-size: .75rem;
        }

        &--link{
            color: white;
            text-decoration: none;
        }
    }
}