@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(150px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes init {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%); } }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  background-color: #585858;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, aquamarine, black);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem grey; }

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase; }

.paragraph {
  font-size: .8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--aquamarine {
  background-image: linear-gradient(to right, aquamarine, grey);
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px; }
  .btn--aquamarine::after {
    background-color: aquamarine; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .8s; }

.btn--animated {
  animation: moveInButton .6s ease-out .75s;
  animation-fill-mode: backwards; }

.composition {
  position: relative; }
  .composition__photo {
    width: 65%;
    box-shadow: 0 1rem 3rem grey;
    border-radius: 5px;
    position: absolute;
    transition: all .6s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 0%;
      top: -1rem; }
    .composition__photo:hover {
      outline: 1.5rem solid aquamarine;
      transform: scale(1.05);
      box-shadow: 0 1.5rem 3.5rem grey; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.landing__header {
  background-image: linear-gradient(to right bottom, aquamarine, gray, black);
  height: 50vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  animation: init 1s forwards;
  position: relative; }
  .landing__header--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .landing__header--title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-shadow: 2px 2px #4b8672;
    animation: moveIn 2.5s; }

.footer {
  background-image: linear-gradient(to left, aquamarine, gray, black);
  height: 25vh;
  clip-path: polygon(0 75%, 100% 0, 100% 100%, 0 100%);
  margin-top: -25vh;
  position: relative; }
  .footer .test {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 65%;
    width: 100%; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -12.5vh; }
