@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(150px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes init {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%); } }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  background-color: #585858;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, aquamarine, black);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem grey; }

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase; }

.paragraph {
  font-size: .8rem;
  text-align: center; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--aquamarine {
  background-image: linear-gradient(to right, aquamarine, grey);
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px; }
  .btn--aquamarine::after {
    background-color: aquamarine; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .8s; }

.btn--animated {
  animation: moveInButton .6s ease-out .75s;
  animation-fill-mode: backwards; }

.composition__photo {
  width: 45%;
  box-shadow: 0 1rem 3rem grey;
  border-radius: 5px;
  transition: all .6s;
  outline-offset: 1.5rem;
  margin-left: 25%;
  margin-top: 5rem; }
  .composition__photo:hover {
    outline: 1.5rem solid aquamarine;
    transform: scale(1.05);
    box-shadow: 0 1.5rem 3.5rem grey; }

.composition__photo2 {
  width: 15rem;
  box-shadow: 0 1rem 3rem grey;
  border-radius: 5px;
  transition: all .6s; }
  .composition__photo2:hover {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 3.5rem grey; }
  @media only screen and (max-height: 600px) {
    .composition__photo2 {
      width: 8rem; } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold; }
  .form__error {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 1rem; }
  .form__label {
    color: white;
    font-style: italic; }
  .form__input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5rem; }
    .form__input:focus {
      outline: none; }
  .form textarea {
    height: 15vh; }

.formBackground {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #363636;
  min-height: 90vh;
  padding: 2rem; }

.formBody {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.formTitle {
  background-color: #e4e4e4;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  color: #363636; }

.formRedirect {
  display: flex;
  justify-content: space-between;
  min-height: 10vh; }
  .formRedirect__icon {
    font-size: 150%; }
  @media only screen and (max-width: 700px) {
    .formRedirect {
      font-size: 85%;
      flex-direction: column;
      min-height: 15vh; } }
  @media only screen and (max-width: 500px) {
    .formRedirect {
      min-height: 20vh;
      font-size: 65%; } }

.formSubmit {
  width: 20%;
  align-self: center; }

.postItem {
  color: #363636;
  border-bottom: 1px solid #363636;
  display: flex;
  flex-direction: column;
  padding: 1rem; }
  @media only screen and (max-width: 700px) {
    .postItem {
      font-size: 75%; } }
  @media only screen and (max-width: 700px) {
    .postItem {
      font-size: 50%; } }
  .postItem:hover {
    cursor: pointer;
    background-color: #363636;
    border: 1px solid #c7c7c7;
    color: #f7f7f7; }
  .postItem__author {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.row {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .row {
      flex-direction: column; } }
  .row .col-1-of-2 {
    width: 50%; }
    @media only screen and (max-width: 1200px) {
      .row .col-1-of-2 {
        width: 100%; } }

.landing__header {
  background-image: linear-gradient(to right bottom, aquamarine, gray, black);
  height: 50vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  animation: init 1s forwards;
  position: relative; }
  @media only screen and (max-height: 600px) {
    .landing__header {
      height: 70vh; } }
  .landing__header--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .landing__header--title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-shadow: 2px 2px #4b8672;
    animation: moveIn 2.5s; }

.footer {
  background-image: linear-gradient(to left, aquamarine, gray, black);
  height: 25vh;
  clip-path: polygon(0 75%, 100% 0, 100% 100%, 0 100%);
  margin-top: -25vh;
  position: relative; }
  @media only screen and (max-height: 600px) {
    .footer {
      height: 45vh;
      margin-top: -45vh; } }
  .footer__text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 65%;
    width: 100%;
    color: white; }
    @media only screen and (max-width: 1000px) {
      .footer__text {
        font-size: .75rem; } }
    .footer__text--link {
      color: white;
      text-decoration: none; }

.posts__list {
  min-height: 50vh;
  margin-top: -7.5vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 925px) {
    .posts__list {
      margin-top: -11.25vh; } }

.posts__header {
  min-height: 50vh;
  background-image: linear-gradient(to right bottom, #f7f7f7, gray);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  position: relative;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-height: 700px) {
    .posts__header {
      font-size: 65%; } }
  @media only screen and (max-width: 925px) {
    .posts__header {
      height: 75vh; } }
  .posts__header--text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .posts__header--instructions {
    position: absolute;
    width: 100%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 925px) {
      .posts__header--instructions {
        flex-direction: column;
        font-size: 85%;
        top: 55%; } }
    @media only screen and (max-height: 600px) {
      .posts__header--instructions {
        font-size: 50%; } }
    .posts__header--instructions .instructions {
      width: 50%;
      padding: 1rem; }
      @media only screen and (max-width: 925px) {
        .posts__header--instructions .instructions {
          width: 100%; } }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -12.5vh; }
  @media only screen and (max-height: 600px) {
    .section-about {
      margin-top: -17.5vh; } }
