.btn{
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;

        @media only screen and (max-width: 350px) {
            padding: 10px 30px;
        }
    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    &--white{
        background-color: #fff;
        color: #777;

        &::after{
            background-color: #fff;
        }
    }

    &--aquamarine{
        background-image: linear-gradient(to right, aquamarine, grey);
        color: #fff;
        font-weight: 800;
        letter-spacing: 2px;

        &::after{
            background-color: aquamarine;
        }
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .8s;
    }

    &--animated{
        animation: moveInButton .6s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn_nonlink{
        border: none;
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        cursor: pointer;

        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

            &::after{
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &--white{
            background-color: #fff;
            color: #777;

            &::after{
                background-color: #fff;
            }
        }

        &--aquamarine{
            background: linear-gradient(to right bottom, aquamarine,#777);
            color: #fff;
            font-weight: 1000;

            &::after{
                background: linear-gradient(to right bottom, aquamarine,#777);
            }
        }

        &::after{
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .8s;
        }
}

.btnComment{
    background: none;
    border: none;
    padding: .75rem;
    border-radius: 5px;
    background: linear-gradient(to left top, #777,silver);
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background: #777;
    }
}