.postItem{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    padding: 1rem;

    &:hover{
        cursor: pointer;
        background-color: $color-grey-light-2;
    }

    &__author{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}