.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;

    &__error{
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-top: 1rem;
    }

    &__label{
        color: white;
        font-style: italic;
    }

    &__input{
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1.5rem;

        &:focus{
            outline: none;
        }
    }

    textarea{
        height: 15vh;
    }

}

.formBackground{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-black-light-1;
    min-height: 90vh;
    padding: 2rem;
}

.formBody{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formTitle{
    background-color: $color-grey-light-2;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    color: $color-black-light-1;
}

.formRedirect{
    display: flex;
    justify-content: space-between;
    min-height: 10vh;

    &__icon{
        font-size: 150%;
    }

    @media only screen and (max-width: 700px) {
        font-size: 85%;
        flex-direction: column;
        min-height: 15vh;
    }

    @media only screen and (max-width: 500px) {
        min-height: 20vh;
        font-size: 65%;
    }
}

.formSubmit{
    width: 20%;
    align-self: center;
}