@import "pages/page-layout";

.landing__header{
    background-color: aquamarine;
    height: 50vh;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
    position: relative;

    &--text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--title{
        color: white;
        text-transform: uppercase;
        letter-spacing: 15px;
        text-shadow: 2px 2px rgb(75, 134, 114);
        animation: moveIn 1s;
    }
}

@keyframes moveIn{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}